/*body {
  margin: 0 auto;
  overflow: hidden;
  background-color: #202020;
  text-align: center;
}

canvas {
  background-color: var(--black);
}*/

/* Variable declarations */

:root {
  --grey85: #d9d9d9;
  --white: #fff;
  --grey15: #262626;
  --black: #000;
  --grey80: #cccccc;
  --light_blue: #0687bf;
  --dark_blue: #072340;
  --sky_blue: #2bc3fb;
  --grey22: #393939;
  --grey20: #333;
  --grey87: #ddd;
}

/* Styles */

body {
  /*<min-height: 2000px;*/
  padding-top: 70px;
  /*background-color: #010d18;*/
  background-color: var(--grey85);
  /*font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/
  font-family: "Verdana";
  font-size: 12px;
  /*font-size: 15px;*/
  /*font-family: BeaufortLoL,"Times New Roman";*/
}

footer {
  margin-top: 40px;
  color: var(--white);
  text-transform: uppercase;
}

.navbar-inverse {
  --grey7: #121212;
  /* local css variable*/
  background-color: var(--grey7);
  border-bottom: 2px solid var(--grey15);
}

.navbar-inverse .navbar-nav>li>a, .navbar-right>a {
  /*color: #c9aa71;*/
  /* color: var(--grey80); */
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
  text-shadow: 2px 1px var(--black);
  text-transform: uppercase;
  /*transform: scale(1,0.9);*/
  -webkit-font-smoothing: antialiased;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  /*color: #f1e6d0;*/
  color: var(--white);
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
  /*color: #f1e6d0;*/
  color: var(--white);
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus {
  /*color: #c9aa71;*/
  color: var(--grey85);
  background-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: var(--light_blue);
}

.navbar-brand {
  padding-top: 17px;
}

.dropdown-menu {
  font-size: 14px;
}

.navbar-nav {
  --grey27: #444;
  /* local css variable for .navbar-nav and inherited children*/
}

.navbar-nav>li>a>i {
  /*padding-top: 16px;*/
  font-size: 18px;
  color: var(--grey27);
}

.carousel-indicators {
  position: absolute;
  bottom: 6px;
  left: 50%;
  z-index: 15;
  width: 60%;
  /*margin-left: -6%;*/
  padding-left: 0px;
  list-style: none;
  text-align: center;
}

.carousel, .carousel-inner {
  position: relative
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  margin-top: -17px;
}

/*.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
  transform: translate3d(0,0,0);
  left: 0;
}
.carousel-inner>.active {
  left: 0;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
  display: block;
}*/

#indexCarousel .carousel-inner .img-holder {
  display: block;
  width: 100%;
  min-height: 380px;
  background-color: var(--white);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  /* hide all slides */
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 1;
  /* show first slide */
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.img-holder {
  overflow: hidden;
}

#jumbo {
  margin-top: 20px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: var(--white);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
}

.jumbotron p {
  margin-bottom: 0px;
}

#jumbotron8 {
  /*border: 4px solid #999999;*/
  /*background-color: #021a31;*/
  /* --dark_blue: #ff0000;  override css variable */
  background-color: var(--dark_blue);
  margin-bottom: 20px;
  /*margin-top: -30px;
  margin-left: -42px;
  margin-right: -14px;
  margin-bottom: 45px;
  padding-bottom: 12px;*/
}

#jumbotron4 {
  /*border: 4px solid #999999;*/
  /*background-color: #021a31;*/
  background-color: var(--dark_blue);
  /*margin-top: -30px;
  margin-left: 50px;
  margin-right: -42px;*/
}

#news-header, #login-header {
  /*color: #c9aa71;*/
  color: var(--grey80);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-shadow: 2px 1px var(--black);
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
}

#news-header:focus, #news-header:hover {
  /*color: #f1e6d0;*/
  color: var(--white);
}

a:focus, a:hover {
  text-decoration: none;
}

#eqv-tipsrows{
  background-color:var(--grey85);
  color:var(--black);
}

.img-responsive>a {
  padding-left: 20px;
}

.img-thumbnail {
  width: 120px;
  height: auto;
  border-radius: 0px;
}

.img-thumbnail.img-thumb {
  width: 220px;
}

.news-date p {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
  color: var(--white);
}

cite {
  /*color: #080808;*/
  color: var(--light_blue);
  font-weight: 700;
}

.container-fluid {
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 20px;
}

.col-sm-4, .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
  /*width: 220px;*/
}

.content-image {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 20px;
  /*padding-right: 0px;*/
}

.col-xs-6 {
  /*min-width: 174px; funguje mozna nechat, zalezi jak bude vypadat login cast*/
  /*padding-left: 20px;*/
  /*padding-top: 20px;*/
  padding-left: 0;
  padding-right: 0;
}

.col-xs-12, .col-sm-8 .col-md-8 {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.content {
  padding-right: 0px;
  padding-left: 0px;
  color: var(--white);
}

.content p {
  font-size: 12px;
}

.content-login {
  padding-right: 0px;
}

/*.col-sm-8 {
  padding-right: 20px;
}*/

#news-content-heading {
  /*font-size: 15px;*/
  padding-top: 16px;
  /*color: var(--white);*/
}

#news-content {
  /*font-size: 15px;*/
  padding-top: 10px;
  /*color: var(--white);*/
}

#news-read-more {
  /*font-size: 15px;*/
  font-weight: 700;
  padding-top: 10px;
  text-align-last: right;
  /*margin-left: 606px;
  margin-right: -96px;
  margin-bottom: 0px;*/
  /*text-shadow: 2px 1px #080808;*/
}

#news-read-more a, .reset-password a {
  /*color: #080808;*/
  color: var(--light_blue);
  text-decoration: none;
}

#news-read-more a:hover, .reset-password a:hover {
  /*color: #505050;*/
  color: var(--sky_blue);
  background-color: transparent;
}

#news-read-more a:focus .reset-password a:focus {
  /*color: #080808;*/
  color: var(--sky_blue);
  background-color: transparent;
}

.my-form {
  /*padding-top: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 58px;
}

.form-group {
  /*width: 240px;*/
}

.form-control {
  border-radius: 0px;
  color: var(--grey22);
  border: 0px;
}

.col-question-sign {
  padding-left: 11px;
  /*padding-top: 1px;*/
}

.col-md-12, .col-md-1 {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
}

#logged {
  padding-top: 44px;
}

.form-control:focus {
  /*border-color: #080808;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(8, 8, 8, 0.9);*/
}

.input-group-addon {
  border-radius: 0px;
  color: var(--white);
  background-color: var(--light_blue);
  border: 0px;
}

.input-group .form-control {
  height: 38px;
}

#exampleInputPassword1 {
  margin-top: -4px;
}

/* .squaredThree */

.squaredThree {
  position: relative;
  float: left;
  padding-left: 3px;
}

.squaredThree label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  /*position: absolute;
  top: 0;
  left: 0;*/
  background: var(--white);
  /*border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);*/
}

.squaredThree label:after {
  content: '';
  width: 12px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 3px solid var(--light_blue);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
 .show {
    display: block;
}
.hidden {
    display: none;
}
.squaredThree label:hover::after {
  opacity: 0.3;
}

.squaredThree input[type=checkbox] {
  visibility: hidden;
  margin-left: -20px;
}

.squaredThree input[type=checkbox]:checked+label:after {
  opacity: 1;
}

/* end .squaredThree */

.checkbox label {
  /*margin-top: -24px;
  margin-left: -47px;*/
  padding-left: 20px;
}

.label-checkbox {
  padding-left: 6px;
  padding-right: 12px;
  color: var(--white);
  font-weight: normal;
}

.reset-password {
  padding-left: 25px;
}

label {
  margin-bottom: 7px;
  display: inline-flex;
  font-weight: normal;
}

.btn-default {
  /*color: #c9aa71;
  background-color: var(--grey15);
  border: 4px solid #999999;
  width: 150px;
  height: 48px;
  font-size: 20px;
  text-shadow: 2px 1px var(--black);*/
  background-color: var(--light_blue);
  color: var(--white);
  width: 100%;
  height: 38px;
  font-size: 18px;
  border-radius: 0px;
  border: 0px !important;
  text-transform: uppercase;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  /*color: #f1e6d0;
  background-color: var(--grey15);*/
  /*border: 4px solid var(--black);*/
  background-color: var(--sky_blue) !important;
  color: var(--white) !important;
  box-shadow: none;
}

.btn-social {
  /*text-transform: uppercase;*/
  border-radius: 0px;
  border: 0px;
  text-align: center;
  height: 38px;
  font-size: 18px;
  /*text-indent: -30px;*/
}

.btn-social>:first-child {
  width: 44px;
  text-indent: 4px;
  line-height: 40px;
}

.fa.fa-facebook {
  text-indent: 12px;
  line-height: 52px;
}

.fa {
  font-size: 22px;
}

.fa-fw {
  width: 18px;
}

hr {
  margin: 0px;
  border-color: var(--white);
  width: 100%;
}

.div-hr {
  padding-top: 14px;
}

.btn-block+.btn-block {
  margin-top: 10px;
}

.btn-twitter {
  margin-bottom: 10px;
}

h2 {
  text-transform: uppercase;
}

.breadcrumbs {
  padding-left: 10px;
  padding-bottom: 6px;
  /*color: #c9aa71;*/
  color: var(--grey20);
  /*text-shadow: 2px 1px var(--black);*/
  /*text-transform: uppercase;*/
}

.breadcrumbs>h2 {
  font-weight: 700;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  /*background-color: #010d18;*/
  background-color: var(--grey85);
  border-radius: 0;
}

.breadcrumbs-a, .breadcrumb>li, .breadcrumb>li+li:before {
  /*color: #c9aa71;*/
  color: var(--grey20);
  /*text-shadow: 2px 1px #var(--black);*/
  /*text-transform: uppercase;*/
  font-size: 18px;
}

.breadcrumb>li+li:before {
  padding-left: 4px;
  padding-right: 2px;
}

.breadcrumbs-a:focus, .breadcrumbs-a:hover {
  /*color: #f1e6d0;*/
  color: var(--white);
}

.account {
  padding: 25px 25px 100px;
}

.account h3 {
  margin-top: 10px;
  text-transform: uppercase;
}

.account .well {
  padding: 26px 0 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0;
}

.col-md-5, .col-xs-8, .col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

.account .social-login dt, .account .account-login dt {
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
}

.account .social-login dd a {
  margin: 10px 0;
}

.account .input-group {
  margin: 10px 0;
}

.label-checkbox-black {
  padding-left: 8px;
  /*padding-right: 12px;*/
  color: var(--black);
  font-weight: normal;
}

.squaredThree.signup-squaredThree {
  padding-left: 0;
}

.squaredThree.signup-squaredThree input[type=checkbox] {
  margin-left: -17px;
}

.squaredThree.signup-squaredThree label {
  background-color: var(--light_blue);
}

.squaredThree.signup-squaredThree label:after {
  border-color: var(--white);
  left: 2px;
}

.account .account-login dd.handle p {
  display: block;
  margin-left: 21px;
  margin-top: -6px;
  margin-bottom: 20px;
  font-size: 15px;
  color: var(--black);
}

.account .account-login dd.handle p a, .account .grayscale a {
  /*font-size: 15px;*/
  color: var(--light_blue);
}

.account .account-login dd.handle p a:hover, .account .grayscale a:hover {
  color: var(--sky_blue);
}

.account .grayscale {
  padding: 15px 16px;
  background-color: var(--dark_blue);
  text-align: center;
  color: var(--white);
}

#handle {
  padding-top: 8px;
  padding-bottom: 12px;
}

p.glyph-title {
  text-align: center;
}

#paddingtop3 {
  padding-top: 3px;
}

.input-group .form-control#search {
  height: 28px;
  font-weight: normal;
}

.btn-default#search {
  height: 28px;
  width: 28px;
  font-size: 14px;
  padding-left: 7px;
}

.checkClass {
  padding-top: 20px;
  padding-left: 20px;
}

.checkClass p {
  font-size: 20px;
}

.checkClass label {
  padding-bottom: 20px;
  width: 98px;
}

.checkbox-inline+.checkbox-inline {
  margin-left: 0;
}

.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  /*border: 1px solid var(--grey80);*/
  /*border-radius: 3px;*/
  background-color: var(--white);
  /*-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  /*color: #555555;*/
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

/*.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}*/

.checkbox input[type="checkbox"]:checked+label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

/*.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}*/

/*.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}*/

/*.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}*/

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
  background-color: var(--light_blue);
  /*border-color: var(--light_blue);*/
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
  color: var(--white);
}

.grid {
  padding-left: 12px;
}

.paddingright20 {
  padding-right: 20px;
}

.paddingtop0 {
  padding-top: 0;
}

.caption {
  padding-bottom: 20px;
  padding-left: 50px;
}

.td_center {
  text-align: center;
}

td {
  padding: 2px;
}

.td-background-color {
  padding: 4px;
  background-color: var(--light_blue);
  width: 120px;
}

.td-width80 {
  width: 86px;
}

.table-hero-attributes {
  padding-top: 20px;
}

.td-width {
  width: 120px;
}

.img-skill {
  height: 64px;
  /*padding-left: 5px;*/
}

.skill1-title {
  font-size: 20px;
  padding-top: 16px;
  /*margin-left: -40px;*/
}

.spell-description {
  /*padding-left: 5px;*/
}

.video {
  background-color: red;
  width: 348px;
  height: 196px;
  /*padding-bottom: 20px;*/
}

.spell-divider {
  background-color: var(--white);
  border: 0;
  border-top: 8px solid var(--white);
}

.hide {
  transform: scale(0);
  width: 0;
  padding: 0;
}

#section {
  min-height: 0;
}

#heroesGrid {
  padding-top: 20px;
}

.noHeroes {
  background-color: var(--white);
  border: 1px solid var(--grey87);
  /*height: 76px;*/
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 160px;*/
  margin-bottom: 20px;
  padding: 4px;
  /*color: var(--black);*/
  display: none;
}

.noHeroes #jumbotron8 {
  margin-bottom: 0;
}

.noHeroes #jumbotron8 p {
  padding: 20px;
}